<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>topのデザイン</title>
    <%= stylesheet_link_tag "honorifics", :media => "all" %>
  </head>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js?ver=1.12.4'></script>
<script>
$(function(){
    var quizArea = $('.quiz_area'); //クイズを管理するDOMを指定
    var quiz_cnt = 10; //現在の問題数を管理
    
    //クイズの配列を設定
    //answerの選択肢の数はいくつでもOK　ただし先頭を正解とすること(出題時に選択肢はシャッフルされる)
    var aryQuiz = [];
    aryQuiz.push(        
        {
            question : '「」の台詞に対する応答として適当な選択肢を選びなさい。',
            qbody : '「これもあなたの力があってこそですね。」',
            answer : ['いいえ、とんでもないです。', 'いいえ、どんでもございません。']            
        }

        ,{
            question : '『』の状況に対する応答として適当な選択肢を選びなさい。',
            qbody : '『相手に今の予定をうかがうとき』',
            answer : ['今お時間いただいてもよろしいですか？', '今お時間いただいてもよろしかったですか？']
        }

        ,{
            question : '『』の状況に対する応答として適当な選択肢を選びなさい。',
            qbody : '『お客様が来店したことを知らせるとき』',
            answer : ['お客様がお見えです。', 'お客様がお越しです。']
        }

        ,{
            question : '「」の台詞に対する応答として適当な選択肢を選びなさい。',
            qbody : '「A課長はそちらにいらっしゃいますか？」',
            answer : ['Aは外出しております。', 'A課長は外出されております。']
        }

        ,{
            question : '「」の台詞に対する応答として適当な選択肢を選びなさい。',
            qbody : '「A社長はそれが良いとおっしゃったのですか？」',
            answer : ['そのようにおっしゃっていました。', 'そのように申しておりました。']
        }

        ,{
            question : '次の敬語の使い方で、正しい選択肢を選びなさい。',
            qbody : '',
            answer : ['旅費は経理部でお受け取りください。', '旅費は経理部でいただいてください。']            
        }

        ,{
            question : '「」の台詞に対する応答として適当な選択肢を選びなさい。',
            qbody : '「明日、どなたがいらっしゃるのかな？」',
            answer : ['取引先のA社長がおいでになります。', '取引先のA社長が参ります。']
        }

        ,{
            question : '『』の状況に対する応答として適当な選択肢を選びなさい。',
            qbody : '『相手の希望に添えない旨を伝えるとき』',
            answer : ['ご要望にお応えすることは致しかねます。', 'ご要望にお応えすることはできません。']
        }
    
        ,{
           question : '『』の状況に対する応答として適当な選択肢を選びなさい。',
           qbody : '『相手に名前を聞くとき』',
           answer : ['お名前を伺ってもよろしいでしょうか？', 'お名前を拝借してもよろしいでしょうか？']
        }

    
        ,{
            question : '『』の状況に対する応答として適当な選択肢を選びなさい。',
            qbody : '『会計で金額を伝えるとき』',
            answer : ['合計、2500円です。', '合計、2500円になります。']
        }
    );

    quizReset();
    
    //リセットを行う関数
    function quizReset(){
        quiz_cnt = 0;
        //aryQuiz = arrShuffle(aryQuiz); //ここのコメントを外すと出題順がランダムになります
        quizShow();
    }
    
    //問題を表示する関数
    function quizShow(){
        //何問目かを表示
        quizArea.find('.quiz_no').text((quiz_cnt + 1));
        //問題文を表示
        quizArea.find('.quiz_question').text(aryQuiz[quiz_cnt]['question']);
        quizArea.find('.qbody').text(aryQuiz[quiz_cnt]['qbody']);
        //正解の回答を取得する
        var success = aryQuiz[quiz_cnt]['answer'][0];
        //現在の選択肢表示を削除する
        quizArea.find('.quiz_ans_area ul').empty();
        //問題文の選択肢をシャッフルさせる(自作関数) .concat()は参照渡し対策
        var aryHoge = arrShuffle(aryQuiz[quiz_cnt]['answer'].concat());
        //問題文の配列を繰り返し表示する
        $.each(aryHoge, function(key, value){
            var fuga = '<li>' + value + '</li>';
            //正解の場合はdata属性を付与する
            if(success === value){
                fuga = '<li data-true="1">' + value + '</li>';
            }
            quizArea.find('.quiz_ans_area ul').append(fuga);
        });
    }
    
    //配列をシャッフルする関数
    function arrShuffle(arr){
        for(i = arr.length - 1; i > 0; i--){
            var j = Math.floor(Math.random() * (i + 1));
            var tmp = arr[i];
            arr[i] = arr[j];
            arr[j] = tmp;
        }
        return arr;
    }

    var quiz_fin_cnt = 10; //何問で終了か設定（クイズ数以下であること）
    var quiz_success_cnt = 0; //問題の正解数

    //回答を選択した後の処理
    quizArea.on('click', '.quiz_ans_area ul li', function(){
        //画面を暗くするボックスを表示（上から重ねて、結果表示中は選択肢のクリックやタップを封じる
        quizArea.find('.quiz_area_bg').show();
        //選択した回答に色を付ける
        $(this).addClass('selected');
        if($(this).data('true')){
            //正解の処理 〇を表示
            quizArea.find('.quiz_area_icon').addClass('true');
            //正解数をカウント
            quiz_success_cnt++;　 //追加
        }else{
            //不正解の処理
            quizArea.find('.quiz_area_icon').addClass('false');
        }
        setTimeout(function(){
            //表示を元に戻す
            quizArea.find('.quiz_ans_area ul li').removeClass('selected');
            quizArea.find('.quiz_area_icon').removeClass('true false');
            quizArea.find('.quiz_area_bg').hide();
            //問題のカウントを進める
            quiz_cnt++;
            if(quiz_fin_cnt > quiz_cnt){ //追加
                //次の問題を設定する
                quizShow();
            }else{
                //結果表示画面を表示
                quizResult();　 //追加
            }
        }, 1500);
    });
    
    //結果を表示する関数
    function quizResult(){
        quizArea.find('.quiz_set').hide();
        var text_count = quiz_success_cnt;
        var text_class ;
        if(quiz_success_cnt==10){
            text_class = '<br>師範';
        }
        else if(quiz_success_cnt>=8&&quiz_success_cnt<10){
            text_class = '<br>教士';
        }
        else if(quiz_success_cnt>=6&&quiz_success_cnt<8){
            text_class = '<br>上段';
        }
        else if(quiz_success_cnt>=4&&quiz_success_cnt<6){
            text_class = '<br>中段';
        }
        else if(quiz_success_cnt>=2&&quiz_success_cnt<4){
            text_class = '<br>下段';
        }        
        else{
            text_class = '<br>見習い';
        }


        quizArea.find('.quiz_count').html(text_count);
        quizArea.find('.quiz_count').show();
        quizArea.find('.quiz_class').html(text_class);
        quizArea.find('.quiz_class').show();
        document.getElementById("quiz_result2").style.display ="block";
    }
});
</script>

<body id="select">
    <div class="quiz_area sample">
        <div class="quiz_set"><!-- 追加 回答中の表示 -->
            <p class="quiz_select_no">第<span class="quiz_no">0</span>問</p>
            <div class="quiz_question"></div>
            <div class="qbody"></div>
            <div class="quiz_select_answer">回答</div>
            <div class="quiz_ans_area">
                <ul></ul>
            </div>
            <div class="quiz_area_bg"></div>
            <div class="quiz_area_icon"></div>
        </div>
        <div class="quiz_count"></div>
        <div class="quiz_class"></div>
    </div>

    <div id="quiz_result2" style="display:none">
        <img src="/assets/認定証1.png" width="100%" height="100%">
        <a href="../quiz/quiz">クイズページへ</a>
    </div><!-- 追加 クイズ終了後の表示 -->

    
</body>


</html>