<html lang="ja">
  
  <head>
    <meta charset="utf-8">
    <title>topのデザイン</title>
    <%= stylesheet_link_tag "honorifics", :media => "all" %>
  </head>

<SCRIPT language="JavaScript">
<!--

let index = 0;

function submit(num){
  if(document.getElementById("quiz_area"+String(num)).style.display="block"){
    if (event.keyCode === 13) {
            document.getElementById("button"+String(num)).click();
    }
  }
}


function quiz1(){
    answer=document.getElementById("answer1").value;

    if(answer=="おうかがい"){
        alert("正解：「行く」の謙譲語は他に→『参る』");
        index += 1;
    }
    else{
        alert("不正解。正解は、おうかがい：「行く」の謙譲語は他にも、『参る』。");
    }   

    //クイズ１を非表示にして、クイズ２を表示させる関数を書く
    // noneで非表示
    document.getElementById("quiz_area1").style.display ="none";
    // blockで表示
    document.getElementById("quiz_area2").style.display ="block";
}


function quiz2(){					
    answer=document.getElementById("answer2").value;					
    if(answer=="いらっしゃい"){
        alert("正解");
        index += 1;

    }					
    else{					
        alert("不正解");					
    }   					
    //クイズ2を非表示にして、クイズ3を表示させる関数を書く					
    // noneで非表示					
    document.getElementById("quiz_area2").style.display ="none";					
    // blockで表示					
    document.getElementById("quiz_area3").style.display ="block";					
}					

function quiz3(){					
    answer=document.getElementById("answer3").value;					
    if(answer=="めしあがり"){					
        alert("正解");
        index += 1;
    }					
    else{					
        alert("不正解");					
    }   					
    //クイズ3を非表示にして、クイズ4を表示させる関数を書く					
    // noneで非表示					
    document.getElementById("quiz_area3").style.display ="none";					
    // blockで表示					
    document.getElementById("quiz_area4").style.display ="block";										
}

function quiz4(){					
    answer=document.getElementById("answer4").value;					
    if(answer=="おのみ"){					
        alert("正解");
        index += 1;
    }					
    else{					
        alert("不正解");					
    }   					
    //クイズ4を非表示にして、クイズ5を表示させる関数を書く					
    // noneで非表示					
    document.getElementById("quiz_area4").style.display ="none";					
    // blockで表示					
    document.getElementById("quiz_area5").style.display ="block";					
}					

function quiz5(){					
    answer=document.getElementById("answer5").value;					
    if(answer=="ごらんになり"){					
        alert("正解");
        index += 1;
    }					
    else{					
        alert("不正解");					
    }   					
    //クイズ5を非表示にして、クイズ6を表示させる関数を書く					
    // noneで非表示					
    document.getElementById("quiz_area5").style.display ="none";					
    // blockで表示					
    document.getElementById("quiz_area6").style.display ="block";					
}					

function quiz6(){					
    answer=document.getElementById("answer6").value;				
    if(answer=="はいけんいたし"){					
        alert("正解");
        index += 1;
    }					
    else{					
        alert("不正解");				
    }   					
    //クイズ6を非表示にして、クイズ7を表示させる関数を書く				
    // noneで非表示			
    document.getElementById("quiz_area6").style.display ="none";				
    // blockで表示		
    document.getElementById("quiz_area7").style.display ="block";					
}

function quiz7(){				
    answer=document.getElementById("answer7").value;		
    if(answer=="ぞんじあげて"){			
        alert("正解");
        index += 1;
    }			
    else{			
        alert("不正解");			
    }   					
    //クイズ7を非表示にして、クイズ8を表示させる関数を書く		
    // noneで非表示		
    document.getElementById("quiz_area7").style.display ="none";		
    // blockで表示
    document.getElementById("quiz_area8").style.display ="block";					
}					

function quiz8(){					
    answer=document.getElementById("answer8").value;			
    if(answer=="おかき"){					
        alert("正解");
        index += 1;
    }			
    else{					
        alert("不正解");			
    }   					
    //クイズ8を非表示にして、クイズ9を表示させる関数を書く			
    // noneで非表示			
    document.getElementById("quiz_area8").style.display ="none";			
    // blockで表示		
    document.getElementById("quiz_area9").style.display ="block";					
}					

function quiz9(){				
    answer=document.getElementById("answer9").value;			
    if(answer=="ごぶさた"){					
        alert("正解");
        index += 1;
    }					
    else{					
        alert("不正解");				
    }   					
    //クイズ9を非表示にして、クイズ10を表示させる関数を書く				
    // noneで非表示			
    document.getElementById("quiz_area9").style.display ="none";		
    // blockで表示
    document.getElementById("quiz_area10").style.display ="block";					
}					

function quiz10(){				
    answer=document.getElementById("answer10").value;			
    if(answer=="ごりかい"){					
        alert("正解");
        index += 1;
    }
    else{
        alert("不正解");
    }	
    //クイズ10を非表示にして、スコアを表示させる関数を書く				
    // noneで非表示			
    document.getElementById("quiz_area10").style.display ="none";		
    // blockで表示
    document.getElementById("score_area").style.display ="block";					

    const score = document.getElementById("score")
    score.textContent = index

    const rank = document.getElementById("rank")
    if(index==10){
        rank.textContent = "師範";
        }
        else if(index>=8&&index<10){
        rank.textContent = "教士";
        }
        else if(index>=6&&index<8){
        rank.textContent = "上段";
        }
        else if(index>=4&&index<6){
        rank.textContent = "中段";
        }
        else if(index>=2&&index<4){
        rank.textContent = "初段";
        }
        else{
        rank.textContent = "見習い";
        }
}

//-->
</SCRIPT>

<body id="write">
  <div class="quiz_write_area">
    <div id="quiz_area1" style="display:">
        <span class="quiz_no">第1問</span><br>
      <div class="contents1">
        <div id="">空欄(5字)に「行く」の謙譲語をひらがなで入れなさい。<br>
        「10時に□□□□□いたします」</div>
      </div>

      <span class="quiz_write_answer">回答</span>
        <div class="quiz_ans_area">
        <input id="answer1" autocomplete="off" onkeypress="submit(1);">
        </div>
        <FORM><INPUT type="button" name="ボタン" id="button1" style="width:10%;padding-right:10px;padding-left:10px;font-size:25px;" value="押してね" onClick="quiz1()" ></FORM>
    </div>

    <div id="quiz_area2" style="display:none">
        <span class="quiz_no">第2問</span><br>
      <div class="contents2">
        <div id="">空欄(6字)に「来る」の尊敬語をひらがなで入れなさい。<br>
        「田中さんは7時に□□□□□□ます」</div>
      </div>

      <span class="quiz_write_answer">回答</span>
        <div class="quiz_ans_area">
        <input id="answer2" autocomplete="off" onkeypress="submit(2);">
        </div>
        <FORM><INPUT type="button" name="ボタン"  id="button2" style="width:10%;padding-right:10px;padding-left:10px;font-size:25px;" value="押してね" onClick="quiz2()"></FORM>
    </div>

    <div id="quiz_area3" style="display:none">
        <span class="quiz_no">第3問</span><br>
      <div class="contents3">
        <div id="">空欄(6字)に「食べる」の尊敬語をひらがなで入れなさい。<br>
        「お土産です。どうぞお□□□□□ください」</div>
      </div>
      
      <span class="quiz_write_answer">回答</span>
        <div class="quiz_ans_area">
        <input id="answer3" autocomplete="off" onkeypress="submit(3);">
        </div>
        <FORM><INPUT type="button" name="ボタン"  id="button3" style="width:10%;padding-right:10px;padding-left:10px;font-size:25px;" value="押してね" onClick="quiz3()"></FORM>
    </div>

    <div id="quiz_area4" style="display:none">
        <span class="quiz_no">第4問</span>
      <div class="contents4">
        <div id="">空欄(3字)に「飲む」の尊敬語をひらがなで入れなさい。<br>
        「ワインの試飲です。どうぞ□□□ください」</div>
      </div>

      <span class="quiz_write_answer">回答</span>
        <div class="quiz_ans_area">
        <input id="answer4" autocomplete="off" onkeypress="submit(4);">
        </div>
        <FORM><INPUT type="button" name="ボタン"  id="button4" style="width:10%;padding-right:10px;padding-left:10px;font-size:25px;" value="押してね" onClick="quiz4()"></FORM>
    </div>
                        

    <div id="quiz_area5" style="display:none">
        <span class="quiz_no">第5問</span>
      <div class="contents5">
        <div id="">空欄(6字)に「見る」の尊敬語をひらがなで入れなさい。<br>
        「今回の資料ですが、皆さん□□□□□□ましたか？」</div>
      </div>

      <span class="quiz_write_answer">回答</span>
        <div class="quiz_ans_area">
        <input id="answer5" autocomplete="off" onkeypress="submit(5);">
        </div>
        <FORM><INPUT type="button" name="ボタン"  id="button5" style="width:10%;padding-right:10px;padding-left:10px;font-size:25px;" value="押してね" onClick="quiz5()"></FORM>
    </div>

    <div id="quiz_area6" style="display:none">
        <span class="quiz_no">第6問</span>
      <div class="contents6">
        <div id="">空欄(7字)に「見る」の謙譲語をひらがなで入れなさい。<br>
        「講義の動画は昨日、□□□□□□□ました」</div>
      </div>

      <span class="quiz_write_answer">回答</span>
        <div class="quiz_ans_area">
        <input id="answer6" autocomplete="off" onkeypress="submit(6);">
        </div>
        <FORM><INPUT type="button" name="ボタン"  id="button6" style="width:10%;padding-right:10px;padding-left:10px;font-size:25px;" value="押してね" onClick="quiz6()"></FORM>
    </div>

    <div id="quiz_area7" style="display:none">
        <span class="quiz_no">第7問</span>
      <div class="contents7">
        <div id="">空欄(6字)に「知る」の謙譲語をひらがなで入れなさい。<br>
        ｢佐藤さんのことは□□□□□□おります｣</div>
      </div>

      <span class="quiz_write_answer">回答</span>
        <div class="quiz_ans_area">
        <input id="answer7" autocomplete="off" onkeypress="submit(7);">
        </div>
        <FORM><INPUT type="button" name="ボタン"  id="button7" style="width:10%;padding-right:10px;padding-left:10px;font-size:25px;" value="押してね" onClick="quiz7()"></FORM>
    </div>

    <div id="quiz_area8" style="display:none">
        <span class="quiz_no">第8問</span> 
      <div class="contents8">
        <div id="">空欄(3字)に「書く」の尊敬語をひらがなで入れなさい。<br>
        ｢こちらにご住所を□□□ください｣</div>
      </div>

      <span class="quiz_write_answer">回答</span>
        <div class="quiz_ans_area">
        <input id="answer8" autocomplete="off" onkeypress="submit(8);">
        </div>
        <FORM><INPUT type="button" name="ボタン"  id="button8" style="width:10%;padding-right:10px;padding-left:10px;font-size:25px;" value="押してね" onClick="quiz8()"></FORM>
    </div>

    <div id="quiz_area9" style="display:none">
        <span class="quiz_no">第9問</span>
      <div class="contents9">
        <div id="">空欄(4字)に「久しぶり」の尊敬語をひらがなで入れなさい。<br>
        ｢佐藤さん、□□□□しております｣</div>
      </div>

      <span class="quiz_write_answer">回答</span>
        <div class="quiz_ans_area">
        <input id="answer9" autocomplete="off" onkeypress="submit(9);">
        </div>
        <FORM><INPUT type="button" name="ボタン"  id="button9" style="width:10%;padding-right:10px;padding-left:10px;font-size:25px;" value="押してね" onClick="quiz9()"></FORM>
    </div>
                        

    <div id="quiz_area10" style="display:none">
        <span class="quiz_no">第10問</span>
      <div class="contents10">
        <div id="">空欄(4字)に「わかる」の尊敬語をひらがなで入れなさい。<br>
        ｢□□□□いただけたでしょうか？｣</div>
      </div>
      
      <span class="quiz_write_answer">回答</span>
        <div class="quiz_ans_area">
        <input id="answer10" autocomplete="off" onkeypress="submit(10);">
        </div>
        <FORM><INPUT type="button" name="ボタン"  id="button10" style="width:10%;padding-right:10px;padding-left:10px;font-size:25px;" value="押してね" onClick="quiz10()"></FORM>
    </div>
        
  </div>

    <div id="score_area" style="display:none">
      <img src="/assets/認定証.png" width="100%" height="100%">
       <div class="write_SR">
        <div id="score"></div>
        <div id="rank"></div>
        <a href="../quiz/quiz">クイズページへ</a>
       </div>
    </div>

</body>

</html>