<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>topのデザイン</title>
    <%= stylesheet_link_tag "quiz", :media => "all" %>
  </head>

    <body>
     <div class="container">
      <div class="container1" style="text-align:center;">
        <div class="select">
         <div class="select_title">選択の間</div>         
          <a href="../honorifics/select1">part1</a><br>         
          <a href="../honorifics/select2">part2</a><br>         
          <a href="../honorifics/select3">part3</a><br>         
        </div>

        <div class="write">
         <div class="write_title">記述の間</div>         
          <a href="../honorifics/write1">part1</a><br>         
          <a href="../honorifics/write2">part2</a><br>         
        </div>
      </div>

      <div class="container2">
        <a href="../statics/mypage">マイページへ</a>
      </div>
    
    </div>

    </body>

</html>