<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>topのデザイン</title>
    <%= stylesheet_link_tag "quiz", :media => "all" %>
  </head>

    <body id="quiz">
     <div class="container">
      <div class="container1" style="text-align:center;">
        <div class="select">
         <div class="select_title">選択の間</div>          
          <%= link_to "part1", honorifics_select1_path, data: {"turbolinks"=>false} %><br>
          <%= link_to "part2", honorifics_select2_path, data: {"turbolinks"=>false} %><br>
          <%= link_to "part3", honorifics_select3_path, data: {"turbolinks"=>false} %>    
        </div>

        <div class="write">
         <div class="write_title">記述の間</div>         
          <a href="../honorifics/write1">part1</a><br>         
          <a href="../honorifics/write2">part2</a><br>         
        </div>
      </div>

      <div class="container2">
        <form class="button_to" method="post" action="/users/sign_out" >
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="ログアウト" style="width:100%;padding-right:10px;padding-left:10px;font-size:0.8em;">
          <input type="hidden" name="authenticity_token" value="0VxmMk4AirIlfa3Yoc9qpeXM486WEHgZqMFVrZ2YvJyM6CCXn8qsUF0z/GiY/s4GBIamhUQkzLVcsAAcIQI+ZQ==">
        </form>
      </div>

    </div>

    </body>

</html>