<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%= stylesheet_link_tag "statics", :media => "all" %>
  </head>

<body id="mypage1">

  <div class="mypage">
    <a href="../quiz/quiz">クイズへ</a>
  </div>

</body>