<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>topのデザイン</title>
    <%= stylesheet_link_tag "statics", :media => "all" %>
  </head>

  <body>
   
    <div class="form">
     <p class="login"><a href="../users/sign_in">ログイン</a></p>
     <p class="register"><a href="../users/sign_up">新規登録</a></p>
    </div>
    
  </body>
</html>
