// Place all the styles related to the honorifics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
    margin: 0%;
    padding: 0%;
}

/* 問題全体のデザイン */

body{
    background-image: url("道場.png");
    background-size: 100%;

/* 選択問題のデザイン */
    .quiz_area{
        font-size: 50px;
        font-family: "游ゴシック",sans-serif;
        font-weight: bold;
        letter-spacing: 3px;
    
        line-height: 65px;

        text-align: center;
        display: flex;
        justify-content: center;

        position: relative;
    }

    .quiz_select_no{
        position: relative;
        top: 100px;
    }

    .quiz_question{
        position: relative;
        top: 120px;
    }

    .quiz_select_answer{
        position: relative;
        top: 165px;
    }
    
    .quiz_ans_area{
        position: relative;
        top: 195px;
    }

    /* 以下クイズの選択肢のデザイン */
    .quiz_area .quiz_ans_area ul{
        margin: 10px 0 0 0;
        padding: 0;
        display: block;
    }

    .quiz_area .quiz_ans_area ul::after{
        content: "";
        display: block;
        clear: both;
    }

    .quiz_area .quiz_ans_area ul li{
        cursor: pointer;
    }

    /* 回答後に上に被せてタップできなくするための要素（デフォルト非表示、回答後に一時的に表示） */
    .quiz_area .quiz_area_bg{
        position: absolute;
        width: 100%;
        height: 190%;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999;
        background: rgba(0, 0, 0, 0.3);
        display: none;
        color: #FFF;
        text-align: center;
    }

    /* 画面に〇、×を表示するための要素（デフォルト非表示、回答後に一時的に表示） */
    .quiz_area .quiz_area_icon{
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        z-index: 9999;
        transform: translate(-50%, -50%);
        color: red;
        display: none;
        font-size: 10em;
        font-weight: bold;
        -webkit-text-stroke: 4px #FFF;
        text-stroke: 4px #FFF;
    }

    /* .trueまたは.falseのクラスが付与されたら表示するものとみなす */
    .quiz_area .quiz_area_icon.true, .quiz_area .quiz_area_icon.false{
        display: block;
    }

    /* .trueは正解（〇を表示） */
    .quiz_area .quiz_area_icon.true:before{
        content: '〇';
        color: red;
    }
    /* .falseは不正解（×を表示） */
    .quiz_area .quiz_area_icon.false:before{
        content: '×';
        color: blue;
    }
/* .記述問題用のデザイン */
    .quiz_write_area{
        font-size: 35px;
        font-family: "游ゴシック",sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
    
        text-align: center;
        display: flex;
        justify-content: center;
        
        .quiz_no{
            position: relative;
            top: 70px;
            padding: 10px 10px 10px 10px;
            color: #2c2c2f;
            background: khaki;
        }

        .contents1{
            position: relative;
            top: 90px;
            padding: 20px 155px 20px 155px;;
            color: #2c2c2f;
            background-color: khaki;

        }

        .contents2{
            position: relative;
            top: 90px;
            padding: 20px 155px 20px 155px;;
            color: #2c2c2f;
            background-color: khaki;
        }
        .contents3{
            position: relative;
            top: 90px;
            padding: 20px 137px 20px 137px;;
            color: #2c2c2f;
            background-color: khaki;
        }
        .contents4{
            position: relative;
            top: 90px;
            padding: 20px 155px 20px 155px;;
            color: #2c2c2f;
            background-color: khaki;
        }
        .contents5{
            position: relative;
            top: 90px;
            padding: 20px 155px 20px 155px;;
            color: #2c2c2f;
            background-color: khaki;
       }
        .contents6{
            position: relative;
            top: 90px;
            padding: 20px 155px 20px 155px;;
            color: #2c2c2f;
            background-color: khaki;
        }
        .contents7{
            position: relative;
            top: 90px;
            padding: 20px 155px 20px 155px;;
            color: #2c2c2f;
            background-color: khaki;
        }
        .contents8{
            position: relative;
            top: 90px;
            padding: 20px 155px 20px 155px;;
            color: #2c2c2f;
            background-color: khaki;
        }
        .contents9{
            position: relative;
            top: 90px;
            padding: 20px 118px 20px 118px;;
            color: #2c2c2f;
            background-color: khaki;
        }
        .contents10{
            position: relative;
            top: 90px;
            padding: 20px 137px 20px 137px;;
            color: #2c2c2f;
            background-color: khaki;
        }

        .quiz_write_answer{
            position: relative;
            top: 140px;
            padding: 10px 20px 10px 20px;
            color: #2c2c2f;
            background:whitesmoke
        }

        .quiz_ans_area{
            position: relative;
            top: 190px;
            padding: 10px 20px 10px 20px;
            color: #2c2c2f;
            background:whitesmoke
        }

        FORM{
            position: relative;
            top: 170px;
        }
    }
}

.quiz_result{
    background-image: url("認定証1.png");
    background-size: 100%;
}

