// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


*{
    margin: 0%;
    padding: 0%;
}

body{
    z-index: 10;
    background-image: url("close.png");

    .form{
        font-size: 50px;
        color: black;
        font-weight: bold;
        position: relative;
        top: 450px;
        line-height: 180%;

        text-align: center;
        display: flex;
        flex-direction: column;
    }    
}

.mypage{
    font-size: 50px;

    display: flex;
    justify-content: center;
    position: relative;
    top: 500px;
}