// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


*{
    margin: 0%;
    padding: 0%;
}

body{
    z-index: 10;
    background-image: url("close.png");

    .form{
        font-size: 40px;
        color: black;
        font-weight: bold;
        position: relative;
        top: 450px;
        line-height: 200%;

        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;


        a{
            background-color: white;
            border: 5px solid;
            border-color: red;
            padding: 1px 13px 1px 13px;
            color: black;
            text-decoration: none;
        }

        a:hover{
            background-color: red;
            color:white;
            text-decoration: none;
        }
    }    
}

.mypage{
    font-size: 50px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    position: relative;
    top: 500px;

    a{
        background-color: white;
        border: 5px solid;
        border-color: red;
        padding: 1px 13px 1px 13px;
        color: black;
        text-decoration: none;
    }

    a:hover{
        background-color: red;
        color:white;
        text-decoration: none;
    }

}